<template name="landingPage">
  <div class="hero-unit space-above">
    <div class="text-center">
      <h1>OneTimeBox</h1>
      <p>Easily create and share single-use, live web folders.</p>
    </div>
    <div class="text-center space-above3">
      <a class="btn-large derpButton">
        Create your Box
      </a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 text-center">
      <div class="span4">
        <h3>1. Get a hold of a Box</h3>
        <img class="boxImg" src="/box.png" />
        <br />
        <br />
        <p>
          Get yourself a free, disposable box. Everybody loves boxes.
        </p>
      </div>
      <div class="span4">
        <h3>2. Put your junk in that box</h3>
        <img class="boxImg" src="/box-full.png" />
        <br />
        <br />
        <p>
          I'm sure you have a lot of junk. Put it in that box.
        </p>
      </div>
      <div class="span4">
        <h3>3. Make them open the box</h3>
        <img class="boxImg" src="/box-out.png" />
        <br />
        <br />
        <p>
          Get funky.
        </p>
      </div>
    </div>
  </div>
</template>
