<template name="landingPage">
  <div class="hero-unit space-above">
    <div class="text-center">
      <h1>OneTimeBox</h1>
      <p>Easily create and share single-use, live web folders.</p>
    </div>
    <div class="text-center space-above2">
      <a class="btn-large derpButton">
        Create your Box
      </a>
    </div>
  </div>

  <div class="row-fluid space-above3">
    <div class="span12 text-center">
      <div class="span4">
        <h3>1. Get a hold of a box</h3>
        <img class="boxImg" src="/box.png" />
        <br />
        <br />
        <p>
          Get yourself a free, disposable box.
        </p>
      </div>
      <div class="span4">
        <h3>2. Put your junk in that box</h3>
        <img class="boxImg" src="/box-full.png" />
        <br />
        <br />
        <p>
          I'm sure you have a lot of junk. Put it in that box.
        </p>
      </div>
      <div class="span4">
        <h3>3. Make them open the box</h3>
        <img class="boxImg" src="/box-out.png" />
        <br />
        <br />
        <p>
          And that's the way you do it.
        </p>
      </div>
    </div>
  </div>

  <hr class="soften">

  <!--
  <div class="row-fluid">
    <div class="span12">
      Open source
      Built on Meteor and Filepicker
      Real time, offline, zero latency.

      Roll your own
      Want to host your own OneTimeBox service? Check out the Github page for detailed instructions on registering, building, and deploying your own instance for quickly and cheaply.
    </div>
  </div>
  -->

  <div class="row-fluid space-above2">
    <div class="span12 text-center proxima">
      As seen on...
    </div>
  </div>
  <div class="row-fluid space-above">
    <a class="span3 featuredOn lifehacker" href="http://lifehacker.com/onetimebox-makes-sharing-disposable-files-with-groups-e-1443481948" target="_new">
      <div class="lifehackerHolder">
      </div>
    </a>
    <a class="span3 featuredOn digital" href="http://www.labnol.org/internet/shared-public-folder/28273/" target="_new">
      <div class="digitalHolder">
      </div>
    </a>
    <a class="span3 featuredOn addictive" href="http://www.addictivetips.com/web/onetimebox-multiple-people-share-files-in-single-cloud-folder/" target="_new">
      <div class="addictiveHolder">
      </div>
    </a>
    <a class="span3 featuredOn ilove" href="http://www.ilovefreesoftware.com/09/webware/create-online-file-sharing-folder-anyone-can-upload-files.html" target="_new">
      <div class="iloveHolder">
      </div>
    </a>
  </div>

  <hr class="soften">

  <div class="row-fluid space-above2 space-below2">
    <div class="span12 text-center">
      <span class="fileCount proxima">{{ count }}</span><br />files uploaded and counting!
    </div>
  </div>
</template>
